@page "/typePermissions"


<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-plus-circle" /> Tipo de Permisos
            <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> Nuevo Tipo de Permiso</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar tipo de permiso..." Callback=@FilterCallBack />
        <GenericList MyList="typePermissions">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <div style="max-width: 100%; overflow-x: auto;">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Categorias</th>
                                <th style="width:210px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var typePermissions in typePermissions!)
                            {
                                <tr>
                                    <td><a href="/typePermissions/details/@typePermissions.Id"> @typePermissions.Name</a></td>
                                    <td>@typePermissions.Description</td>
                                    <td>@(getStatus(typePermissions.Status))</td>
                                    <td>@typePermissions.CategoryPermissionsNumber</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(typePermissions.Id, true))><i class="bi bi-pencil" /> Editar</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsycn(typePermissions))><i class="bi bi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </Body>
        </GenericList>
      </div>
</div>