@page "/typePermissions/edit/{Id:int}"

<h3>Editar Tipo de Permiso</h3>

@if (typePermissions is null)
{
    <Loading/>
}
else
{
    <TypePermissionsForm @ref="typePermissionsForm" typePermissions="typePermissions" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}

