@page "/typePermissions/create"

<h3>Crear Tipo de Permiso</h3>

<FormWithName @ref="typePermissionsForm" Label="Tipo de Permiso:" Model="typePermissions" OnValidSubmit="CreateAsync" ReturnAction="Return" />