@page "/typeNotices/details/{TypeNoticesId:int}"

@if (typeNotices is null)
{
    <Loading />
}
else
{ <div class="card">
        <div class="card-header">
            <span>
                <i class="bi bi-bell" /> @typeNotices.Name
                    <a class="btn btn-sm btn-primary float-end mx-1" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square"></i> Nueva Categoria Noticia</a>
                    <a class="btn btn-sm btn-success float-end" href="/typeNotices"><i class="bi bi-arrow-left" />  Regresar</a>
            </span>
        </div>
        <div class="card-body">
            <Filter PlaceHolder="Buscar categoria de noticia..." Callback=@FilterCallBack />
            <GenericList MyList="categoryNotices!">
                <Body>
                    <Pagination CurrentPage="currentPage"
                                TotalPages="totalPages"
                                SelectedPage="SelectedPageAsync"
                                RecordsNumber="SelectedRecordsNumberAsync" />

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th style="width:210px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var categoryNotices in categoryNotices!)
                            {
                                <tr>
                                    <td>@categoryNotices.Name</td>
                                    <td>@categoryNotices.Description</td>
                                    <td>@(getStatus(typeNotices.Status))</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(categoryNotices.Id, true))><i class="bi bi-pencil" /> Editar</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(categoryNotices))><i class="bi bi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
            </GenericList>
        </div>
    </div>
}
