@page "/categoryPermissions/edit/{CategoryPermissionsId:int}"

<h3>Editar Categoria Permiso</h3>

@if (categoryPermissions is null)
{
    <Loading />
}
else
{
    <CategoryPermissionsForm @ref="categoryPermissionsForm" categoryPermissions="categoryPermissions" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}
