@page "/categoryPermissions/create/{TypePermissionsId:int}"

<h3>Nueva Categoria Permiso</h3>

<CategoryPermissionsForm @ref="categoryPermissionsForm" categoryPermissions="categoryPermissions" OnValidSubmit="CreateAsync" ReturnAction="Return" />