@page "/categoryNotices/edit/{CategoryNoticesId:int}"

<h3>Editar Categoria Noticia</h3>

@if (categoryNotices is null)
{
    <Loading />
}
else
{
    <CategoryNoticesForm @ref="categoryNoticesForm" categoryNotices="categoryNotices" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}
