@page "/categoryNotices/create/{TypeNoticesId:int}"

<h3>Nueva Categoria Noticia</h3>

<CategoryNoticesForm @ref="categoryNoticesForm" categoryNotices="categoryNotices" OnValidSubmit="CreateAsync" ReturnAction="Return" />