@page "/categoryNotices/create/{TypeNoticesId:int}"

<h3>Nueva Categoria Noticia</h3>

<FormWithName @ref="categoryNoticesForm"
              Label="Categoria Noticia:"
              Model="categoryNotices"
              OnValidSubmit="CreateAsync"
              ReturnAction="Return" />