@page "/Areas"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-person-lines" /> Areas
            <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> Nueva Area</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar area..." Callback=@FilterCallBack />
        <GenericList MyList="Areas">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Areas</th>
                            <th style="width:210px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var area in Areas!)
                        {
                            <tr>
                                <td>@area.Name</td>
                                <td>
                                    <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(area.Id, true))><i class="bi bi-pencil" /> Editar</a>
                                    <button class="btn btn-danger btn-sm" @onclick=@(() =>DeleteAsycn(area))><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>