<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Permisos fácil</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/countries">
                        <span class="bi bi-globe-americas-fill-nav-menu" aria-hidden="true"></span> Paises
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/areas">
                        <span class="bi bi-person-lines-fill-nav-menu" aria-hidden="true"></span> Areas
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/typeNotices">
                        <span class="bi bi-bell-nav-menu" aria-hidden="true"></span> Tipo Noticias
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/typePermissions">
                        <span class="bi bi-plus-circle-fill-nav-menu" aria-hidden="true"></span> Tipo Permisos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/notices">
                        <span class="bi bi-chat-dots-fill-nav-menu" aria-hidden="true"></span> Noticias
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/permissions">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Permisos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Leader">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/permissions">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Permisos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/permissions">
                        <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Permisos
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
