@page "/notices/edit/{Id:int}"

<h3>Editar Noticia</h3>

@if (notices is null)
{
    <Loading/>
}
else
{
    <FormWithName @ref="noticesForm" Label="Noticia:" Model="notices" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}

