@page "/notices/details/{NoticesId:int}"

@if (notices is null)
{
    <Loading />
}
else
{
  <div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-chat-dots" /> Noticias
            <a class="btn btn-primary btn-sm float-end" @onclick=@(() => ShowModalAsync())><i class="bi bi-plus-square" /> Nueva Noticia</a>
                <a class="btn btn-sm btn-success float-end" href="/notices"><i class="bi bi-arrow-left" />  Regresar</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar imagen noticia..." Callback=@FilterCallBack />
        <GenericList MyList="imageNotices!">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />

                <div style="max-width: 100%; overflow-x: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Imagenes Noticias</th>
                                <th style="width:210px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var imageNotices in imageNotices!)
                            {
                                <tr>
                                    <td>@imageNotices.Name</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(imageNotices.Id, true))><i class="bi bi-pencil" /> Editar</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(imageNotices))><i class="bi bi-trash" /> Borrar</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </Body>
        </GenericList>
        </div>
    </div>
}
