@page "/notices/details/{NoticesId:int}"

@if (notices is null)
{
    <Loading />
}
else
{
    <h3>@notices.Name</h3>
    <div class="mb-2">
        <a class="btn btn-primary" href="/categoryNotices/create/@notices.Id">Nueva Noticia</a>
        <a class="btn btn-success" href="/notices">Regresar</a>
    </div>

    <h4>Imagenes Noticias</h4>
    <GenericList MyList="imageNotices!">
        <Body>
            <Pagination CurrentPage="currentPage"
                        TotalPages="totalPages"
                        SelectedPage="SelectedPageAsync" />

            <div class="mb-2" style="display: flex; flex-wrap:wrap; align-items: center;">
                <input style="width: 400px;" type="text" class="form-control" id="titulo" placeholder="Buscar imagen noticia..." @bind-value="Filter" />
                <button type="button" class="btn btn-outline-primary mx-1" @onclick="ApplyFilterAsync">Filtrar</button>
                <button type="button" class="btn btn-outline-danger" @onclick="CleanFilterAsync">Limpiar</button>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Imagenes Noticias</th>
                       @*  <th style="width:90px">Categorias</th> *@
                        <th style="width:210px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var imageNotices in imageNotices!)
                    {
                        <tr>
                            <td>@imageNotices.Name</td>
                            @* <td>@categoryNotice.NoticeNumber</td> *@
                            <td>
                                <a class="btn btn-warning btn-sm" href="/imageNotices/edit/@imageNotices.Id">Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(imageNotices))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}
