@page "/"

@if (Notices is null)
{
    <Loading />
}
else
{
    <Filter PlaceHolder="Buscar noticia..." Callback=@FilterCallBack />
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />

        <div class="notice-container">
            @foreach (var notice in Notices!)
            {
                    <div class="card">
                     
                        <img src="@notice.MainImage" alt=@notice.Name />
                        <h5 class="card-notice_text poisition-absolute"> @notice.Name</h5>
                        <!--
                            <p class="card-text smfnt text-center text-justify">@notice.Description</p>
                        -->
                        
                    </div>
            }
        </div>
}