.notice-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    position: relative;
    width: 230px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    box-shadow: 4px 5px 2px 1px #00000033;
    border-radius: 15px;
    font-family: sans-serif;
    background: #000;
    padding: 0px;
    transition: 0.3s ease;
    cursor: pointer;
}

    .card:hover {
        box-shadow: none;
    }

.card img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

.card-notice_text {
    position: absolute;
    left: 5px;
    max-width: 90%;
    bottom: 5px;
    background: rgb(0, 0, 0, 0.3);
    color: #FFF;
    font-size: 0.7rem;
    font-weight: bolder;
}