@page "/imageNotices/create/{NoticesId:int}"

<h3>Nueva Imagen Noticia</h3>

<FormWithName @ref="imageNoticesForm"
              Label="Imagen Noticia:"
              Model="imageNotices"
              OnValidSubmit="CreateAsync"
              ReturnAction="Return" />