
<div class="toggle-switch">
    <input class="toggle-input" id="toggle" type="checkbox" @onchange="OnCheckboxChanged" checked="@(Value == 1)">
    <label class="toggle-label" for="toggle"></label>
</div>
